.hidden{
    display: none;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    background-color: var(--dark-jungle-green);
    align-items: center;
    color: white;
    width: 100%;
    height: 10rem;
    position: sticky;
    font-size: var(--medium);
    z-index: 1; 
}

.navbar__logo{
    height: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__logo img{
    height: 50%;
    object-fit: cover;
}

.navbar__name{
    font-size: var(--xlg);
}
.navbar__list {
    position: static;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(0%);
}
.navbar__list li{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__link{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
.navbar__link--extra{ /* QUITAR CUANDO AGREGAMOS EXTRAS */
    display: none;
} 

@media (any-hover: hover) {
    .navbar__list li:hover {           /* hover for list options */
        background-color: var(--blue-sapphire);
    }
}
  
@media only screen and (min-width: 768px) {
    .navbar {            /* general distribution */
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;
        justify-items: unset;
        top: 0;
        box-shadow: 0px 10px 12px 0px var(--dark-jungle-green-transparency);
    }

    .navbar__icon {      /* img container styles */
        display: none;
    }

    .navbar__list {         /* option list styles */
        position: static;
        height: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transform: translateY(0%);
    }

    .navbar__lin {   /* a base styles */
        font-weight: lighter;
    }

    .navbar__list--show {               /* show list */
        transform: translateY(0%);
        box-shadow: none;
    }
}
